/*- pixel perfect;*/
/*!*- mobile макет*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Montserrat";
    src: url(./styles/fonts/Montserrat/Montserrat-Regular.ttf) format("ttf");
}
@font-face {
    font-family: "Inter";
    src: url(./styles/fonts/Inter/Inter-Regular.ttf) format("ttf");
}
@font-face {
    font-family: "Inter-Thin";
    src: url(./styles/fonts/Inter/Inter-Thin.ttf) format("ttf");
}

.app {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: "Inter", "Arial", sans-serif;
    background-color: #0e1014;
}

.background_purple_ball {
    position: absolute;
    z-index: -2;
    width: 60px;
    height: 60px;
    left: 868px;
    top: -2px;
    background: radial-gradient(
            64% 64% at 27.25% 26.5%,
            rgba(236, 208, 255, 0.64) 0%,
            rgba(161, 93, 207, 0.24) 60%,
            rgba(118, 49, 164, 0.21) 80%,
            rgba(86, 24, 128, 0.23) 100%
    );
    box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.06);
    filter: blur(5px);
    border-radius: 50%;
}
.background_red_big_ball {
    position: absolute;
    z-index: -2;
    width: 83px;
    height: 83px;
    left: 519px;
    top: 83px;
    background: radial-gradient(
            64% 64% at 27.25% 26.5%,
            rgba(255, 208, 208, 0.54) 0%,
            rgba(212, 93, 93, 0.26) 60%,
            rgba(167, 49, 49, 0.25) 80%,
            rgba(130, 25, 25, 0.25) 100%
    );
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.06);
    border-radius: 50%;
    filter: blur(5px);
}
.background_red_small_ball {
    position: absolute;
    z-index: -2;
    width: 28px;
    height: 28px;
    left: 851px;
    top: 547px;
    background: radial-gradient(
            64% 64% at 27.25% 26.5%,
            rgba(255, 208, 208, 0.48) 0%,
            rgba(212, 93, 93, 0.248) 60%,
            rgba(167, 49, 49, 0.264) 80%,
            rgba(130, 25, 25, 0.232) 100%
    );
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.06);
    filter: blur(2.5px);
    border-radius: 50%;
}
.background_purple_light {
    position: absolute;
    z-index: -2;
    width: 259px;
    height: 259px;
    left: 602px;
    top: -154px;
    background: #833AB4;
    opacity: 0.5;
    filter: blur(196px);
}
.background_red_light {
    position: absolute;
    z-index: -2;
    width: 311px;
    height: 311px;
    left: -102px;
    top: 251px;
    background: #961a1a;
    opacity: 0.5;
    filter: blur(196px);
}

.box {
    display: block;
    box-sizing: border-box;
}
.header_main_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.welbex_logo_and_menu {
    display: flex;
}
.welbex_logo {
    cursor: pointer;
}
.menu_services_items_list {
    display: flex;
    margin-left: 50px;
}
.menu_services_item {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: #E4E5EA;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 140ms;
}
.menu_services_item:hover {
    color: #7b83bb;
}
.menu_services_item:nth-child(n + 2) {
    margin-left: 30px;
}
.contacts {
    display: flex;
}
.contacts_tel_number {
    font-size: 16px;
    font-weight: 500;
    color: #E4E5EA;
    cursor: pointer;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 140ms;
}
.contacts_tel_number:hover {
    color: #7b83bb;
}
.contacts_media_icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.contacts_media_icon:nth-child(n + 2) {
    margin-left: 30px;
}
.contacts_media_icons {
    display: flex;
    margin-left: 47px;
}
.header_welbex_logo_description{
    width: 165px;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
    color: #E4E5EA;
}

.content {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}
.left_block_title {
    cursor: pointer;
}
.left_block_title_text_part_1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    color: #E4E5EA;
}
.left_block_tile_welbex_text {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    color: #E4E5EA;
}
.left_block_tile_welbex_text_part_1 {
    color: #FCB045;
}
.left_block_tile_welbex_text_part_2 {
    text-transform: uppercase;
    background: linear-gradient(to right, #fcb045 25%, #ff3f78 120%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.left_block_subtitle {
    width: 275px;
    margin-top: 30px;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #E4E5EA;
}
.right_block {
    display: block;
    width: 300px;
    text-align: end;
}

.right_block_title_white_text {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #E4E5EA;
}
.right_block_title_gradient_text {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
}
.right_block_title_part_2 {
    background: linear-gradient(to right, #fcb045 2%, #ff3f78 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.right_block_title_part_3 {
    background: linear-gradient(to right, #fcb045 75%, #ff3f78 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.right_block_gifts_list {
    margin-top: 40px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(68px, auto);
    justify-content: end;
    justify-items: end;
}
.right_block_gift {
    width: 135px;
    cursor: pointer;
}
.right_block_gift_title {
    text-align: end;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
    color: #E4E5EA;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 140ms;
}
.right_block_gift_title:hover {
    color: #7b83bb;
}
.right_block_gift_text {
    text-align: end;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #E4E5EA;
}
.right_block_button_consultation_container {
    margin-top: 60px;
}
.right_block_button_consultation_button {
    width: 262px;
    height: 61px;
    appearance: none;
    font-family: inherit;
    outline: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #E4E5EA;
    background: #4077F3;
    border: none;
    cursor: pointer;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 140ms;
}
.right_block_button_consultation_button:hover {
    background: #5e87de;
}

.footer {
    display: block;
    height: 315px;
    margin-top: 70px;
    padding: 55px 0;
}
.footer_sections {
    display: grid;
    grid-template-columns: 0.26fr 0.44fr 0.30fr;
}
.footer_section_title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: #656566;
}
.footer_section_text_container {
    margin-top: 20px;
}
.footer_section_text_blocks {
    display: flex;
}
.footer_section_menu_text_block_2 {
    margin-left: 50px;
}
.footer_section_text {
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #E4E5EA;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 140ms;
}
.footer_section_text:hover {
    color: #7b83bb;
}
.footer_section_contacts_tel {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #E4E5EA;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 140ms;
}
.footer_section_contacts_tel:hover {
    color: #7b83bb;
}
.footer_section_contacts_address {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #E4E5EA;
}
.footer_section_text:nth-child(n+2) {
    margin-top: 10px;
}
.footer_section_text_contacts:nth-child(n+2) {
    margin-top: 20px;
}
.footer_section_contacts_title {
    text-align: end;
}
.footer_section_contacts_text {
    text-align: end;
}
.footer_section_contacts_icons {
    display: flex;
    justify-content: end;
}
.footer_section_contacts_icon {
    cursor: pointer;
}

.footer_section_contacts_icon:nth-child(n+2) {
    margin-left: 10px;
}
.footer_privacy_policy_text {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: #E4E5EA;
    text-align: end;
}
.footer_privacy_policy_text_part_2 {
    cursor: pointer;
    text-decoration: underline;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 140ms;
}
.footer_privacy_policy_text_part_2:hover {
    color: #7b83bb;
}

@media (min-width: 320px) and (max-width: 1440px){
    .app {
        padding: 46px 100px 0 100px;
    }
    .box {
        width: 80%;
    }
}
/*@media (min-width: 320px) and (max-width: 1920px){}*/
@media (min-width: 1920px) {
    .app {
        padding: 46px 150px 0 150px;
    }
    .box {
        display: block;
        box-sizing: border-box;
        width: 1140px;
    }
    .header_desktop {
        height: 73px;
    }
    .mobile_header {
        display: none;
    }

    .left_block {
        width: 362px;
    }

}

@media (max-width: 320px) {
    .app {
        padding: 0;
    }
    .box {
        width: 100%;
    }
    .background_purple_ball {
        width: 40px;
        height: 40px;
        left: 296px;
        top: 236px;
    }
    .background_red_big_ball {
        width: 43px;
        height: 43px;
        left: 29px;
        top: 402px;
    }
    .background_red_small_ball {
        display: none;
    }
    .background_purple_light {
        left: 258px;
        top: 107px;
    }
    .background_red_light {
        width: 211px;
        height: 210px;
        left: -55px;
        top: 241px;
    }

    .header_desktop {
        display: none;
    }
    .mobile_header {
        display: block;
        padding: 20px 15px;
        height: 55px;
        background: black;
    }
    .mobile_header_menu_services_items_list {
        display: flex;
        justify-content: space-between;
    }
    .mobile_header_menu_services_item {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        color: #E4E5EA;
        cursor: pointer;
    }
    .mobile_header_menu_services_item:hover {
        color: #7b83bb;
    }

    .content {
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        margin-top: 40px;
    }


    /*.left_block {*/
    /*    width: 362px;*/
    /*}*/
    .left_block_title_text_part_1 {
        font-size: 36px;
        font-weight: 400;
        line-height: 44px;
        color: #E4E5EA;
    }
    .left_block_tile_welbex_text {
        font-size: 36px;
        font-weight: 900;
        line-height: 44px;
        color: #E4E5EA;
    }
    .left_block_tile_welbex_text_part_1 {
        color: #FCB045;
    }
    .left_block_subtitle {
        margin-top: 15px;
    }

    .right_block {
        display: none;
    }
    .right_block_button_consultation_container {
        display: none;
    }
    .mobile_right_block {
        margin-top: 47px;
    }
    .mobile_right_block_title_white_text {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        color: #E4E5EA;
    }
    .mobile_right_block_title_gradient_text {
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;
    }
    .mobile_right_block_title_part_2 {
        background: linear-gradient(to right, #fcb045 2%, #ff3f78 60%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .mobile_right_block_title_part_3 {
        background: linear-gradient(to right, #fcb045 75%, #ff3f78 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .mobile_right_block_gifts_list {
        margin-top: 20px;
        display: grid;
        gap: 14px;
        grid-template-columns: 115px 141px;
        grid-auto-rows: minmax(16px, auto);
    }
    .mobile_right_block_gift {
        display: flex;
        align-items: center;
        width: 135px;
        cursor: pointer;
    }
    .mobile_right_block_gift_dash {
        box-sizing: border-box;
        width: 10px;
        border-top: 1px solid transparent;
        -webkit-border-image: -webkit-linear-gradient(left, #fcb045 36.99%, #fd1d1d 100%);
        border-image-slice: 1;
        /*(to right, #fcb045 75%, #ff3f78 100%);*/
    }
.mobile_right_block_gift_text {
    margin-left: 5px;
    text-transform: uppercase;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #E4E5EA;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 140ms;
}
.mobile_right_block_gift_text:hover {
    color: #7b83bb;
}
.footer_sections {
    display: flex;
    flex-direction: column;
}

}