.box {
    padding: 46px 150px;
    background: rgba(160, 144, 144, 0.78);
}
.header {

}
.header_main_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.welbex_logo_and_menu {
    display: flex;
}
.menu_services_items_list {
    display: flex;
}
.menu_services_item {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #E4E5EA;
}
.menu_services_item:nth-child(n + 2) {
    margin-left: 30px;
}
.contacts {
    display: flex;
}
.contacts_tel_number {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #E4E5EA;
}
.contacts_media_icon {
    width: 20px;
    height: 20px;
}
.contacts_media_icon:nth-child(n + 2) {
    margin-left: 30px;
}
.contacts_media_icons {
    display: flex;
    margin-left: 47px;
}
.header_welbex_logo_description{
    width: 165px;
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
    color: #E4E5EA;
}


.content {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
}
.left_block {
    width: 362px;
}

.left_block_title_make_money {
    font-family: Inter, sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    color: #E4E5EA;
}
.left_block_tile_welbex_text {
    font-family: Inter, sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    color: #E4E5EA;
}
.left_block_tile_welbex_text_part_1 {
    color: #FCB045;

}
.left_block_tile_welbex_text_part_2 {
    text-transform: uppercase;
    background: linear-gradient(to right, #fcb045 25%, #ff3f78 120%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.left_block_subtitle {
    margin-top: 30px;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #E4E5EA;
}
.right_block {
    width: 291px;
}
/*.right_block_title_text:nth-child(n+2) {*/
/*    margin-left: ;*/
/*}*/
.right_block_title_white_text {
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #E4E5EA;
}
.right_block_title_gradient_text {
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
}
.right_block_title_part_2 {
    background: linear-gradient(to right, #fcb045 2%, #ff3f78 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.right_block_title_part_3 {
    background: linear-gradient(to right, #fcb045 75%, #ff3f78 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.right_block_gifts_list {
    margin-top: 40px;
}
.right_block_gift {

}
.right_block_gift_title {
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
    color: #E4E5EA;
}
.right_block_gift_text {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #E4E5EA;
}